/*============Variables=========================================*/
$text_size: 50%;
$text_color: #FFFFFF;
$hr_height: 2%;
$right_side_right_margin: 4px;
$left_side_elements_padding: 5px;
/*============Mixins=========================================*/
@mixin sides_common_styles{
	margin-bottom: 0.6em;
	height: 6em;
}
/*============Style=========================================*/
.Save_The_Date{
	*{
		color: $text_color;
		font-size: 0.95em;
	}
    .black-text{
        color: #000000;
    }
    ul{
      height: 100%;
      margin-bottom: 0;
      li{
         list-style-type: none;
         overflow: hidden;
     }
 }
 .event{
  float: left;
  clear: both;
  width: 100%;
  .left_side{
     @include sides_common_styles;
     background-image: url("../views/assets/images/label_arrow_mask.png");
     background-repeat: no-repeat;
     background-position: right;
     background-size: 100% 100%;
     width: 0%;
     max-width: 70%;
     float: left;
     li{
        max-width: 88%;
    }
    .title{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 150%;
        height: 50%;
        padding-left: $left_side_elements_padding;
    }
    // .subtitle{
    //     height: 20%;
    // }
    // .author{
    //     height: 20%;
    //     font-size: 100%;
    // }
    .content{
        height: 50%;
        padding-left: $left_side_elements_padding;
    }
}
.right_side{
 @include sides_common_styles;
 background-color: #000;
 width: 30%;
 float: left;
 hr{
    height: $hr_height;
    border-color: $text_color;
    margin: 0px$right_side_right_margin;
}
.province{
    height: (100% - ($hr_height * 2 ) )  / 9 * 2;
    text-transform: uppercase;
    text-align: right;
    padding-right: $right_side_right_margin;
}
.date{
    height: (100% - ($hr_height * 2 ) ) / 9 * 4;
    font-size: 195%;
    font-weight: bolder;
}
.category{
    text-align: right;
    padding-right: $right_side_right_margin;
    height: (100% - ($hr_height * 2 ) ) / 9 * 3;
    *{
        text-overflow: ellipsis;
        font-weight: bolder;
        font-size: 80%;
        text-align: right;
        // padding-right: $right_side_right_margin;
    }
}
}
}
}

// =============================================================================
// End of Style
// =============================================================================