/*============Variables=========================================*/
$text_size: 50%;
$text_color: #FFFFFF;
$hr_height: 2%;
$right_side_right_margin: 4px;
$left_side_width: 65%;
$black_arrow_mask: url("../views/assets/images/label_arrow_mask.png");
/*============Style rules=========================================*/
.Save_The_Date{
	*{
		color: $text_color;
		font-size: 0.95em;
	}
  .black-text{
    color: #000000;
  }
  ul{
    height: 100%;
    margin-bottom: 0;
    li{
     list-style-type: none;
     overflow: hidden;
   }
 }
 .event{
  float: left;
  clear: both;
  width: 100%;
  // height: 6em;
  margin-bottom: 0.6em;
   .left_side{
     background-image: $black_arrow_mask;
     background-repeat: no-repeat;
     background-position: right;
     background-size: 100% 100%;
     width: $left_side_width; // this refers to the nearest ancestor with a width -> event;
     float: left;
     li{
      max-width: 82%;
        // height: 50%;
        padding-left: 5px;
      }
      .title{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 120%;
        line-height: 1;
        padding-top: 5px;
        overflow: hidden;
      }
      .content{
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
      }
} // end of left_side
.right_side{
 background-color: #000;
 width: 100% - $left_side_width;
 float: left;
 height: 100%;
 hr{
  height: $hr_height;
  border-color: $text_color;
  margin: 0px $right_side_right_margin;
}
.province{
  height: (100% - ($hr_height * 2 ) )  / 9 * 2;
  text-transform: uppercase;
  text-align: right;
  padding-right: $right_side_right_margin;
}
.date{
  height: (100% - ($hr_height * 2 ) ) / 9 * 4;
  font-size: 195%;
  font-weight: bolder;
  text-align: right;
  margin: 0px $right_side_right_margin;
  font-family: Book Antiqua, Palatino, serif;
}
.category{
  text-align: right;
  padding-right: $right_side_right_margin;
  height: (100% - ($hr_height * 2 ) ) / 9 * 3;
  *{
    text-overflow: ellipsis;
    font-weight: bolder;
    font-size: 80%;
    text-align: right;
        // padding-right: $right_side_right_margin;
      }
    }
  }
}
}

// =============================================================================
// End of Style
// =============================================================================